.select {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 1;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    width: 7px;
    height: 7px;
    transform: translateY(-50%) rotate(45deg);
    transition: transform 0.3s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 36px;
    transform: translateY(-50%);
    width: 2px;
    height: calc(100% - 15px);
    background-color: #ccc;
  }
}

.selectActive::after {
  transform: translateY(-50%) rotate(-135deg);
}

.selectInput:focus + .selectButton {
}

.hideWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: height 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.selectButton {
  display: block;
  padding-right: 60px;
  padding-left: 15px;
  border: 0;
  border-radius: 4px;
  width: 100%;
  height: 42px;
  text-align: left;
  background-color: #fff;
  transition: background-color 0.3s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgb(250, 238, 216);
    }
  }

  &:active {
    background-color: rgb(119, 106, 83);
  }
}

.selectList {
  border: 1px solid #ccc;
  background-color: #fff;
}

.selectItem + .selectItem {
  border-top: 1px solid #ccc;
}
