.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  transform: translate(-50%, -50%);
}

.form {
  border-radius: 10px;
  max-width: 100%;
  background-color: #fff;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.top {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px 60px 7px 15px;
}

.title {
  font-size: 24px;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 50px;
  height: 100%;
  background-color: transparent;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    width: 18px;
    height: 4px;
    background-color: #3a3939;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.middle {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  gap: 20px;
}

.namesRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 500px) {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
}

.labelSchool {
  width: 100%;
  max-width: 180px;

  @media (max-width: 500px) {
    max-width: 100%;
  }
}

.colorsWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 230px;

  @media (max-width: 768px) {
    max-width: 140px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 48%;
    right: 7px;
    border-right: 2px solid #424141;
    border-bottom: 2px solid #424141;
    width: 7px;
    height: 7px;
    transform: translateY(-50%) rotate(45deg);
  }
}

.colorsInput {
  padding-right: 20px;
  border: 0;
  border-radius: 4px;
  width: 45px;
  transition: background-color 0.3s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgb(250, 238, 216);
    }
  }
}

.hoursRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  & > *[class] {
    width: max(calc((100% - 40px) / 3), 230px);
  }

  @media (max-width: 768px) {
    flex-direction: column;

    & > *[class] {
      width: 100%;
    }
  }
}

.daysRow {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.daysButtons {
  display: flex;
  height: 100%;
}

.daysButton {
  height: 42px;
  padding: 5px;
  border: 0;
  border-right: 1px solid #ccc;
  border-radius: 0;
  min-width: 76px;
  background-color: transparent;
  outline: 0;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:focus {
    color: #fff;
    background-color: rgb(132, 186, 252);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: #fff;
      background-color: #5ba7d0;
    }
  }

  @media (max-width: 500px) {
    width: 50%;
    border-bottom: 1px solid #ccc;
  }
}

.selectsRow {
  display: flex;
  gap: 20px;

  & > *[class] {
    width: max(calc(((100% - 40px) / 3) * 2 + 20px), 230px);

    &:last-child {
      width: max(calc((100% - 40px) / 3), 230px);
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    & > *[class] {
      width: 100%;

      &:last-child {
        width: 100%;
      }
    }
  }
}

.textBox {
  padding: 15px;
  background-color: pink;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  gap: 20px;
}

.cancellation {
  border: 0;
  background-color: transparent;
}

.submit {
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 0;
  z-index: 1;
  transition: 0.3s;
  outline: 0;

  span {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s, border-color 0.3s;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #0000003a;
    z-index: -1;
    border-radius: 4px;
  }

  &:focus span {
    border-color: #028dd8;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover span {
      color: #fff;
      background-color: #028dd8;
      transform: translateY(-3px);
    }
  }

  &:active span {
    transform: translateY(0);
    transition: background-color 0.3s, color 0.3s, transform 0.01s;
  }
}

.hideWrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}
