.doubleInputBox {
  display: flex;
  height: 42px;
}

.doubleInput {
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  border-right: 0;
  text-align: center;
  width: calc((100% - 42px) / 2 );

  &:last-child {
    border-radius: 0 4px 4px 0;
    border-left: 0;
    border-right: 1px solid #ccc;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
  }
}

.doubleInputText {
  font-size: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #a19f9f;
  color: #fff;
  width: 42px;
}
